.order-list-item{
  display: flex;
  padding:10px;
  color:#666;
  img,.list-content{
    display: flex;
    flex:1;
  }
  img{
    width:120px;
    height:90px;
  }
  .list-content{
    flex-direction: column;
    margin-left:10px;
  }
  .order-button{
    display: flex;
    flex:0.8;
    justify-content: center;  /*水平居中*/
    align-items: center; /*垂直居中*/
    button{
      height:35px;
      width:60px;
      background: #e9203d;
      color:#fff;
      border:0;
      border-radius: 5px;
    }
    .unselect{
      background: #ccc;
    }
  }
}

.comment-area{
  display: flex;
  flex-direction:column;
  padding:10px;
  textarea{
    border:1px solid #ccc;
    height:70px;
  }
  div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    button{
      width:70px;
      height:35px;
      text-align: center;
      background: #e9203d;
      margin:10px 20px;
      border:0;
      border-radius: 5px;
      color:#fff;
    }
  }
}
